<%= link_to 'New Project', new_project_path , class: 'btn btn-primary pull-right'%>
<br/>
<hr>
<style>
table {
    width:100%;
}
</style>
<% @projects.each do |project| %>
<br/>
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>  <%= project.projectname %> </div>
  <div class="panel-body">
    <table>
      <tr>
        <td>    <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>  <%= project.jobid %></p></td>
        <td>    <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  <%= project.clientname %></p></td>
        <td>    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  <%= project.startdate %></p></td>
      </tr>
      <tr>
        <td><p><span class="glyphicon glyphicon-check" aria-hidden="true"></span>  <%= project.projectstatus %></p></td>
        <td><p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  <%= project.sbu %></p></td>
        <td>
            <% if (User.where(id: project.project_lead).empty?) %>
              <p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Not Assigned</p>
            <% else %>
            <p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  <%= User.find(project.project_lead).username %> (Chef)</p>
              <% end %>
            </td>

      </tr>
      <tr>
            <td><% if (User.where(id: project.project_manager).empty?) %>
            <p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>  Not Assigned</p>

            <% else %>
            <p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>  <%= User.find(project.project_manager).username %> (Co- Ordinator)</p>
            <% end %>
          </td>
            <td>
              <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= User.find(project.user_id).username %></p>
    </td>



<% if (current_user.isadmin == true || current_user.ismanagement == true || current_user.id == project.project_manager || current_user.id== project.project_lead ) %>
    <% timesheets= Timesheet.select{|a| a.project_id == project.id } %>
    <%else %>
      <% timesheets= Timesheet.select{|a| a.project_id == project.id && a.user_id== current_user.id } %>
<% end %>



    <td>
      <% if !timesheets.empty? %>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  <%= ((timesheets.pluck(:timespent).inject{|sum,x| sum +x})/60).to_i %>:<%= ((timesheets.pluck(:timespent).inject{|sum,x| sum +x}).to_i%60) %> Hours
    <% end %>
    </td>
      </tr>
      <% points= timesheets.collect{|a| a.timespent/60 * User.find(a.user_id).weight } %>
      <tr>
      <td>
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        <%= points.inject{|sum,a| sum+a} %> Points
      </td>
      <td></td>
        <td class="pull-right">
          <% if (Projection.find_by(project_id: project.id, user_id: current_user.id).nil?) %>
                <%= link_to 'Join', join_project_path(project) ,class: 'btn btn-primary', method: :post %> |
          <% end %>
         <%= link_to 'Details', project_path(project) , class: 'btn btn-primary'%>
        <% if(current_user.id == project.project_manager || current_user.isadmin== true ) %>
             <%= link_to 'Manage Project',  manage_project_path(project) , class: 'btn btn-primary' %>
          <% end %>
          <% if(current_user.isadmin== true) %>
                |  <%= link_to 'Edit', edit_project_path(project) , class: 'btn btn-primary' %>
                |  <%= link_to 'Destroy', project_path(project),
                          method: :delete,
                          data: { confirm: 'Are you sure about deleting this project?' } , class: 'btn btn-danger' %>
                  <% end %>
      </td>
      <tr>
            </table>
  </div>
</div>
<% end %>
<div class="apple_pagination">
  <%= will_paginate @projects , :container => false %>
  </div>
