
<%=  bootstrap_form_for :timesheet , url: filter_timesheets_path, method: :get do |f| %>
<div class="row">
       <div class="col-lg-4">
            <div class="form-group">
                    <%= f.select :project_id,  label: "Select Project" do %>
                              <% if(@projects.empty?) %>
                                    <option value= "null">No Project Available</option>
                              <% else %>
                                      <option value= 0 >All Projects</option>
                                        <% @projects.each do |project| -%>
                                                    <option value="<%=  project.id %>"><%= project.projectname %></option>
                                          <% end %>
                              <% end %>
                         <% end %>
                  </div>
        </div>
        <div class="col-lg-4">
              <div class="form-group">
                        <%= f.select :task_id,  label: "Select Task" do %>
                              <% if(@tasks.empty?) %>
                                      <option value= "null" >No Task Available</option>
                              <% else %>
                                      <option value= 0 >All Tasks</option>
                                      <% @tasks.each do |task| -%>
                                          <option value="<%=  task.id %>"><%= task.taskname %></option>
                                     <% end %>
                              <% end %>
                        <% end %>
                  </div>

      </div>
      <div class="col-lg-4">
        <% if !(current_user.isadmin == true ||  current_user.is_project_lead == true || current_user.is_project_manager == true) %>
        <div class="form-group">
        <%= f.select :user_id,  label: "Select User" do %>
                  <option value= "<%= current_user.id %>" ><%= current_user.username %></option>
                  <% end %>
                </div>
            <% else %>
            <div class="form-group">
                  <%= f.select :user_id,  label: "Select User" do %>
                      <% if (@users.empty?) %>
                            <option value= "null" >No Users</option>
                      <% else %>
                              <option value= 0 >All Users</option>
                             <%= @users.each do |user| %>
                                  <option value="<%= user.id %>"><%= user.username %></option>
                            <% end %>
                      <% end %>
                  <% end %>
            </div>
        <% end %>
  </div>
<br/>
            <div class="form-group">
                  <%= f.submit "Filter Timesheets", class: 'btn btn-primary pull-right' %>
            </div>
            <br/>
            <hr>
<% end %>
<br/>
<hr>
<%= link_to 'New Timesheet', new_timesheet_path , class: 'btn btn-primary'%>
<%= link_to 'Timesheet for Pipeline Project', pipeline_path , class: 'btn btn-primary'%>
<%= link_to 'Export to Excel', timesheets_path(format: "xlsx") , class: 'btn btn-primary'%>
<hr>
<ul class="list-group">

<table class="table table-hover">
  <thead>
   <tr>
     <th>Project</th>
     <th>Task</th>
     <th>User</th>
     <th>Date</th>
     <th>Time Spent</th>
     <th>Feeling</th>
     <th></th>
   </tr>
 </thead>
 <tbody>
   <% @timesheets.each do |timesheet| %>
    <tr>
      <td><%= Project.find(timesheet.project_id).projectname %></td>
      <td><%= Task.find(timesheet.task_id).taskname %></td>
      <td><%= User.find(timesheet.user_id).username %></td>
      <td><%= timesheet.Tdate %></td>
      <td><%= timesheet.timespent %></td>
      <td><%= timesheet.feeling %></td>
      <td><%= link_to 'Details', timesheet_path(timesheet) %></td>
    </tr>
   <% end %>
 </tbody>
</table>











<div class="apple_pagination">
  <%= will_paginate @timesheets %>
</div>
